[Desktop Entry]
Name=Gesture Manager
Comment=Train gestures
Exec=gesm-neo2.sh
Icon=applications-games
Terminal=false
Type=Application
Categories=GTK;Utility;
StartupNotify=true
